@model CinemaBookingWeb.ViewModel.PlayBillViewModel
@{
    ViewBag.Title = "Playbill!";

    //Layout = "~/Views/Shared/_LayoutActivity.cshtml";

}
<div>Here are films list!</div>
<div style="float:left">
    @{if (Model.Posters != null)
        {
            for (int i = 0; i < Model.Posters.Count(); i++)
            {
    <div class="film" style="float: left; margin:50px">
        <a href='@Url.Action("Movie", "Movie", new { id = Model.Posters[i].MovieId })'>
            <img height="300" width="200" src='@Url.Content(Model.Posters[i].Movie.Img)' />
        </a>
        <div>
            @Html.Label("Title:")
            @Html.DisplayFor(modelItem => Model.Posters[i].Movie.Name)
        </div><div>
            @Html.Label("When:")
            @Html.DisplayFor(modelItem => Model.Posters[i].DateMovie)
        </div>
        <div>
            <font color="red">
                @Html.LabelForModel("Minimum Price(UAH):")
                @Html.DisplayFor(modelItem => Model.Posters[i].BasePrice)
            </font>
        </div>
        <div>
            @Html.LabelForModel("Hall:")
            <span style="background-color:@Model.Posters[i].Hall.Name">@Html.DisplayFor(modelItem => Model.Posters[i].Hall.Name)</span>
        </div>
        @Html.ActionLink("Book ticket", "BookingForm", "Booking", new { playBillId = Model.Posters[i].Id }, new { @class = "btn alert-success" })
    </div>
            }
        }
    }
</div>
